/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.ms-options-wrap > .ms-options,
.ms-options-wrap > button:focus,
.ms-options-wrap > button {
  width: 200px !important;
}

.ms-options-wrap {
  display: inline;
  padding-right: 10px;
}

.ep_product_delete {
  cursor: pointer;
  margin-right: 1rem;
}
